<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByokCAr26QVV41WEijOp8XR9obcaNxJPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>139205123544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodLabelAi</string>
	<key>PROJECT_ID</key>
	<string>food-label-ai-d5970</string>
	<key>STORAGE_BUCKET</key>
	<string>food-label-ai-d5970.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139205123544:ios:09667d9cbb175d8892e6ad</string>
</dict>
</plist>